<h3>Tickets Booked</h3>
<table class="table">
    <thead>
    <tr>
        <td>Movie's Name</td>
        <td>Day Put</td>
        <td>Total Money</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody *ngFor="let ticker of tickerPut">
    <tr *ngIf="ticker.canCel == 0">
        <td>{{ticker.movieName}}</td>
        <td>{{ticker.dayPut}}</td>
        <td>{{ticker.totalMoney}}</td>
        <td *ngIf="ticker.status == 1">received</td>
        <td *ngIf="ticker.status == 0">not received</td>
    </tr>
    </tbody>
<!--    <div style="text-align: left" *ngIf="tickerPutPage.length > 5">-->
<!--        <div *ngFor="let i of numPage">-->
<!--            <button (click)="movedPage(i)">{{i}}</button>-->
<!--        </div>-->
<!--    </div>-->
</table>

