<h3>Tickets Booked</h3>
<table class="table">
    <thead>
    <tr>
        <td>Movie's Name</td>
        <td>Day Put</td>
        <td>Total Money</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Harry Potter Bảo Bối Tử Thần</td>
        <td>21/01/2017 8:08</td>
        <td>120000</td>
        <td>Waiting For Tickets</td>
    </tr>
    <tr>
        <td>Harry Potter Bảo Bối Tử Thần</td>
        <td>21/01/2017 8:08</td>
        <td>120000</td>
        <td>Got Tickets</td>
    </tr>
    </tbody>
</table>
<div style="text-align: left">
    <a href="#">Next</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3...</a>
    <a href="#">Previous</a>
</div>
