
<div class="wrapper">
  <div class="banner-top ban">
    <img alt='top banner' src="assets/images/download/banner2.jpg" style="left: 0;width: 100%;margin-left: 0">
  </div>
  <header class=" header-wrapper--home">
    <div class="container">
      <a href='index.html' class="logo">
        <img alt='logo' src="assets/images/download/logo.png">
      </a>

      <nav id="navigation-box">
        <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
        </a>

        <ul id="navigation">
          <li>
            <span class="sub-nav-toggle plus"></span>
            <a routerLink="">Home</a>

          </li>
          <li >

            <a>Movies</a>
            <ul >
              <ol class="menu__nav-item"><a  routerLink="/movie-showing">Movies showing</a></ol>
              <ol class="menu__nav-item"><a routerLink="/movie-coming">Movies coming</a></ol>
            </ul>
          </li>
          <li>
            <span class="sub-nav-toggle plus"></span>
            <a routerLink="/promotion">Promotion</a>

          </li>
          <li>
            <span class="sub-nav-toggle plus"></span>
            <a routerLink="/gallery">Gallery</a>

          </li>
          <li>
            <span class="sub-nav-toggle plus"></span>
            <a routerLink="/news">News</a>

          </li>
          <li>

          </li>
        </ul>
      </nav>
      <div class="control-panel" *ngIf="info.token; else block1" (click)="toggle()">
        <div class="auth auth--home">
          <div class="auth__show">
                  <span class="auth__image">
                    <img alt="" src="{{info.imageUrl}}" style="border-style: groove">
                  </span>
          </div>
          <a class="btn btn--sign btn--singin" style="color: white">
            {{info.username}}
          </a>
          <ul class="auth__function">
           <li><a  class="auth__function-item" href="/customer/{{info.accountId}}/ticker-put/{{info.accountId}}">Booked tickets</a></li>
            <li *ngIf="info.authorities == 'admin'"><a routerLink="/admin/dashboard" class="auth__function-item">Admin</a></li>
            <li><a class="auth__function-item" (click)="goToSetting(info.accountId)">Settings</a></li>
            <li><a class="auth__function-item" style="cursor: pointer" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
      <ng-template #block1>
        <div class="control-panel">
          <a (click)="register()" id="register" class="btn btn-md btn--warning btn--book btn-control--home register-window">Register</a>
          <a (click)="login()" id="login" class="btn btn-md btn--warning btn--book btn-control--home login-window">Login</a>
        </div>
      </ng-template>
    </div>
  </header>
<!--  end-heaader-->

  <router-outlet></router-outlet>

<!--  end-body-->

  <footer class="footer-wrapper" style="background-color: blue;">
    <section class="container">
      <div class="col-xs-4 col-md-2 footer-nav">
        <ul class="nav-link">
          <li><a href="#" class="nav-link__item">Cities</a></li>
          <li><a href="/movie-showing" class="nav-link__item">Movies</a></li>
          <li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
          <li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-md-2 footer-nav">
        <ul class="nav-link">
          <li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
          <li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
          <li><a href="offers.html" class="nav-link__item">Best offers</a></li>
          <li><a href="news-left.html" class="nav-link__item">News</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-md-2 footer-nav">
        <ul class="nav-link">
          <li *ngFor="let n of listSiteMap"><a routerLink="{{n.description}}" class="nav-link__item">{{n.name}}</a></li>
          <!-- <li><a href="/gallery" class="nav-link__item">Gallery</a></li>
          <li><a routerLink="/contact" class="nav-link__item">Contacts</a></li>
          <li><a href="page-elements.html" class="nav-link__item">Support</a></li> -->
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="footer-info">
          <p class="heading-special--small">C04.Movie<br><span class="title-edition">in the social media</span></p>

          <div class="social">
            <a href='#' class="social__variant fa fa-facebook"></a>
            <a href='#' class="social__variant fa fa-twitter"></a>
            <a href='#' class="social__variant fa fa-vk"></a>
            <a href='#' class="social__variant fa fa-instagram"></a>
            <a href='#' class="social__variant fa fa-tumblr"></a>
            <a href='#' class="social__variant fa fa-pinterest"></a>
          </div>

          <div class="clearfix"></div>
          <p class="copy">&copy; C04.Movie, 2020. All rights reserved. Done by C0420G1</p>
        </div>
      </div>
    </section>
  </footer>
</div>

<!--&lt;!&ndash;    register&ndash;&gt;-->

<!--<div id="register1" class="overlayregister overlay-hugeinc  ">-->
<!--  <section class="container">-->
<!--    <div class="col-sm-4 col-sm-offset-4" style="margin-left: 30%">-->
<!--      <form class="login"  style="padding-top: 0; width: 127%" [formGroup]="formCustomer">-->
<!--        <div class="header-form" >-->
<!--          <button type="button" class="overlay-close">Close</button>-->
<!--          <p class="login__title">Register <br><span class="login-edition">welcome to C04.Movie</span></p>-->
<!--        </div>-->
<!--        <div class="field-wrap">-->
<!--          <form [formGroup]="formAccount">-->
<!--            <div class="inputWithIcon">-->
<!--              <label>Account</label>-->
<!--              <input type='text'  class="login__input" formControlName="username">-->
<!--              <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-user m-r-10"></i>-->
<!--              <div class="alert alert-danger" role="alert"-->
<!--                   *ngIf="formAccount.get('username').invalid && formAccount.get('username').touched">-->
<!--                <p *ngIf="formAccount.get('username').hasError('required')">Account is Required</p>-->
<!--              </div>-->
<!--            </div >-->
<!--            <div class="inputWithIcon">-->
<!--              <label>Password</label>-->
<!--              <input type='password'  class="login__input" formControlName="password">-->
<!--              <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-key m-r-10"></i>-->
<!--              <div class="alert alert-danger" role="alert"-->
<!--                   *ngIf="formAccount.get('password').invalid && formAccount.get('password').touched">-->
<!--                <p *ngIf="formAccount.get('password').hasError('required')">Password is Required</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>Full Name</label>-->
<!--            <input type='text'  class="login__input" formControlName="name">-->
<!--            <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-pencil m-r-10"></i>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('name').invalid && formCustomer.get('name').touched">-->
<!--              <p *ngIf="formCustomer.get('name').hasError('required')">Full name is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>Birthday</label>-->
<!--            <input type='date'  class="login__input" formControlName="birthday">-->
<!--            <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-birthday-cake m-r-10"></i>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('birthday').invalid && formCustomer.get('birthday').touched">-->
<!--              <p *ngIf="formCustomer.get('birthday').hasError('required')">Birthday is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>Gender</label><br>-->
<!--            <input type='radio'  formControlName="gender"  value="Male"  style="margin-left: 30px"><label style="font-size: 14px; margin-left: 5px">Male</label>-->
<!--            <input type='radio'  formControlName="gender"  value="Femail" style="margin-left: 30px"> <label style="font-size: 14px; margin-left: 5px">Femail</label>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('gender').invalid && formCustomer.get('gender').touched">-->
<!--              <p *ngIf="formCustomer.get('gender').hasError('required')">Gender is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <br>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>ID Card</label>-->
<!--            <input type='text'   class="login__input" formControlName="cardid">-->
<!--            <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-id-card m-r-10"></i>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('cardid').invalid && formCustomer.get('cardid').touched">-->
<!--              <p *ngIf="formCustomer.get('cardid').hasError('required')">Id card is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>Email</label>-->
<!--            <input type='text'   class="login__input" formControlName="email">-->
<!--            <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-envelope m-r-10"></i>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('email').invalid && formCustomer.get('email').touched">-->
<!--              <p *ngIf="formCustomer.get('email').hasError('required')">Email is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>Address</label>-->
<!--            <input type='text'   class="login__input" formControlName="address">-->
<!--            <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-address-book-o m-r-10"></i>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('address').invalid && formCustomer.get('address').touched">-->
<!--              <p *ngIf="formCustomer.get('address').hasError('required')">Address is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="inputWithIcon">-->
<!--            <label>Phone number</label>-->
<!--            <input type='text'  class="login__input" formControlName="phone" >-->
<!--            <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-phone m-r-10"></i>-->
<!--            <div class="alert alert-danger" role="alert"-->
<!--                 *ngIf="formCustomer.get('phone').invalid && formCustomer.get('phone').touched">-->
<!--              <p *ngIf="formCustomer.get('phone').hasError('required')">Phone number is Required</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="login__control" >-->
<!--          <button  type='submit' class="btn btn-md btn&#45;&#45;warning btn&#45;&#45;wider" style="margin-top: 15px"[disabled]="formAccount.invalid || formCustomer.invalid" (click)="getForm()">Register</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->

<!--  </section>-->
<!--</div>-->


