<section class="container" style="padding-top: 40px;">
    <div class="overflow-wrapper">
        <div class="col-sm-8 col-md-9">

            <h2 class="page-heading">News</h2>

            <!-- News post article-->
            <article class="post post--news" *ngFor="let new of news  | paginate: { itemsPerPage: 3, currentPage: p }">
                <a routerLink="/newsDetail" class="post__image-link">
                    <img alt='' [src]="new.imageUrl" style="width: 100%; height: auto">
                </a>

                <h1><a routerLink="/newsDetail" class="post__title-link ">{{new.name}}</a></h1>
                <p class="post__date">29 October 2020 </p>

                <div class="wave-devider"></div>

                <p class="post__text">{{new.description}}</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a  class="tags__item">news</a></li>
                        <li class="item-wrap"><a  class="tags__item">movie</a></li>
                        <li class="item-wrap"><a class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a  class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->

            <div class="pagination">
                <div style="float: left;width: 40%;"><a  class="pagination__prev" (click)="plusPage()">prev</a></div>
                
               <div style="float: right; width: 60%;"> <a class="pagination__next" (click)="prevPage()">next</a></div>
            </div>

        </div>






















        <aside class="col-sm-4 col-md-3">
            <div class="sitebar">
                <div class="category category--popular marginb-sm">
                    <h3 class="category__title">the lasted <br><span class="title-edition">news </span></h3>
                    <ul>
                        <li><a href="#" class="category__item">The best movie to see this month</a></li>
                        <li><a href="#" class="category__item">Look forward to films such as 'Saving Mr Banks', 'The
                            Book Thief' and 'Robocop'</a></li>
                        <li><a href="#" class="category__item">The 100 best romantic movies</a></li>
                        <li><a href="#" class="category__item">The 50 greatest animated films</a></li>
                        <li><a href="#" class="category__item">Tickets to Taste of Christmas</a></li>
                        <li><a href="#" class="category__item">10 best film pop-ups this week</a></li>
                        <li><a href="#" class="category__item">How to take a part in ‘Star Wars’</a></li>
                    </ul>
                </div>

                <div class="banner-wrap">
                    <img alt='banner' src="assets/images/banners/sale.jpg">
                </div>

                <div class="banner-wrap">
                    <img alt='banner' src="assets/images/banners/sport.jpg">
                </div>

                <div class="category category--light categoty--position marginb-sm">
                    <h3 class="category__title">browse<br><span class="title-edition">by section</span></h3>
                    <ul>
                        <li><a href="#" class="category__item">Showtimes &amp; Tickets</a></li>
                        <li><a href="#" class="category__item">Latest Trailers</a></li>
                        <li><a href="#" class="category__item">Coming Soon</a></li>
                        <li><a href="#" class="category__item">In Theaters</a></li>
                        <li><a href="#" class="category__item">Movies</a></li>
                        <li><a href="#" class="category__item">Stars</a></li>
                    </ul>
                </div>

                <h3 class="heading-special lower--hight">tags</h3>
                <ul class="tags tags--dark">
                    <li class="item-wrap"><a href="#" class="tags__item">lorem ipsum </a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">consectetur</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">gravida</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">adipiscing</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">nunc ante</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">dapibus nec</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">commodo nec</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">quis justo</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">lorem ipsum </a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">consectetur</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">adipiscing</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">nunc ante</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">dapibus nec</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">commodo nec</a></li>
                    <li class="item-wrap"><a href="#" class="tags__item">quis justo</a></li>
                </ul>
            </div>
        </aside>
    </div>
</section>
