
<section class="container" style="padding-top: 50px;">
    INput
    <div style="width: 500px;">

        <div  *ngFor="let i of items">
            <div class="parking">
                <div *ngIf="i==2; else block"><i class="fa fa-car fa_custom fa-3x"></i></div>
                <ng-template #block>
                    <div>
                        <div><i class="fa fa_custom fa-3x"></i></div>
                
                    </div>
                </ng-template>
                <div>slot name</div>
                <div *ngIf="i==2">43-P1-32003</div>
                <!-- <div>occupied</div>     -->
                </div>
            </div>
        <!-- <div *ngIf="i==2; else block" [ngClass]="{ parking: i==2}"> <i class="fa fa-car fa_custom fa-3x"></i></div>
        <ng-template #block>
            <div class="parking">
                <i  class="fa fa-car fa_custom fa-3x"></i>
            </div>
            
        </ng-template> -->
        
        
    </div>
    Ouput
</section>


