Actors play characters in plays, films and commercial productions, and on the radio, following directions and/or a script to create visual entertainment for a given audience.

Also known as…

Thespian
Actress
Cast Member
Performing Artist
Being an actor involves a wide range of activities, including learning lines, rehearsing, attending auditions and castings, performing, working with an agent, and studying different acting techniques, just to name a few.

Responsibilities
Actors aim to express a character through a range of behavioural activities, using speech and body language to play the part of someone or something else and induce a reaction in an audience.

Actors usually work with other actors under the instruction of a director, who coordinates movement and interaction on the stage or behind the lens. Although some actors work spontaneously, through improvisation, or silently, in mime, most work from a script.

This contains the actor’s lines, which must be learnt, practised and used as the basis for a performance.

Salary
As with many artistic professions, acting is a job where work comes unpredictably. The skill of an actor and the demand for their presence will affect how much work they receive, and therefore what salary they earn. Top actors may get paid millions for a single appearance, while an extra in a play, film or advertisement may be paid by the hour, or not at all. Many actors start in very low paid, or even completely unpaid roles, and try to work their way up the ladder, but the money depends entirely on finding regular work.

In actual terms, the majority of actors earn less than £10,000 a year from acting, and only a tiny minority earn over £30,000. Actors often have to supplement their income with other work and it is difficult to make a living from acting alone.

Qualifications
Getting into acting almost always requires formal training, and this is usually in the form of academic courses at drama schools or performing arts centres. Different schools have different reputations and those with the best reputations are extremely competitive. The National Council for Drama Training (NCDT) is the largest body that accredits these centres, and taking a course accredited by this body can be beneficial when it comes to being recognised because they are very practical and lead to membership of a performers’ union called Equity.

Many courses are similar to university degrees, entailing three years of full-time study although it is possible to take a one year postgraduate qualification if relevant previous study has been completed. The most popular courses are in acting, drama or musical theatre and acceptance depends on factors including:

Relevant exam results: A levels, GCSEs and BTEC diplomas in subjects such as English, Drama and Performing Arts
Auditions
Experience in amateur or professional acting
Without these qualifications, the best option would be to pursue practical opportunities as much as possible, and participate in amateur productions and workshops wherever possible.

Skills
Being an actor requires a range of skills, including:

Good stage, screen or vocal presence
The ability to enter into another character and engage with an audience
The ability to memorise lines
Good understanding of dramatic techniques
Having the confidence, energy and dedication to perform
Creative insight
Experience
Experience and building a CV is important in acting, although it is not everything and strong or appealing actors, especially younger ones, may find major roles without a huge amount of prior activity.

Most actors do work steadily, though, and many see their work as a lifelong progression, using self discovery and internal reflection to improve their skills, broaden their repertoire and build their reputation.

https://youtu.be/tSckE656BdQ
Career Progression
Actors improve their reputation by completing different roles successfully. Moving up to more challenging and better-paid jobs comes from acting well and being well received by critics.

One good performance can be crucial in boosting an actor’s profile, and finding work consistently will depend on evidence of a professional attitude and a good track record, although actors with different styles and personalities may go in and out of fashion, depending on what directors and producers are looking for.

Many actors spend years playing minor roles or working as extras before landing a major part, and the career path varies greatly depending on the individual.

Employers
The biggest employers of actors are theatres and production companies, but since there is not a standardised network of acting jobs and no standard working cycle, most actors have to operate on a flexible basis, often using an agent to help represent them and find them work.

One of the most renowned acting companies is the Royal Shakespeare Company, based in Stratford.