<div class="bannercontainer rev_slider_wrapper">

    <div id="rev_slider_1" class="banner rev_slider" style="display:none">

        <!-- BEGIN SLIDES LIST -->
        <ul>

            <!-- SLIDE 1 -->
            <li data-transition="fade" class="slide" data-delay="3000" data-title='Rush.'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="assets/images/download/Photo-1-Header-.jpeg">

                <div class="tp-caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-frames='[{
                               "delay":300,
                               "split":"chars",
                               "splitdelay":0.1,
                               "speed":700,
                               "frame":"0",
                               "from":"x:[-100%];opacity:0;",
                               "mask":"x:0px;y:0px;s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power4.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    RUSH
                </div>

                <div class="tp-caption n slide__time margin-slider"
                     data-x="right"
                     data-hoffset='250'
                     data-y="186"
                     data-frames='[{
                               "delay":1200,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    From
                </div>

                <div class="tp-caption  slide__date margin-slider"
                     data-x="right"
                     data-hoffset='149'
                     data-y="186"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    October 18
                </div>
                <div class="tp-caption slide__time margin-slider"
                     data-x="right"
                     data-hoffset='120'
                     data-y="186"
                     data-frames='[{
                               "delay":1200,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    till
                </div>
                <div class="tp-caption slide__date margin-slider"
                     data-x="right"
                     data-y="186"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    November 01
                </div>
                <div class="tp-caption slide__text margin-slider text-right"
                     data-x="right"
                     data-y="250"
                     data-frames='[{
                               "delay":2300,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;skX:50px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                </div>
                <div class="tp-caption margin-slider"
                     data-x="right"
                     data-y="324"
                     data-frames='[{
                               "delay":2600,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    <a href="#" class="slide__link">check out cinemas &amp; time</a>
                </div>

            </li>

            <!-- SLIDE 2 -->
            <li data-transition="fade" class="slide" data-title='Travel worldwide. Create trip film.'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="assets/images/bg-video.jpg">
                <div class="rs-background-video-layer"
                     data-forcerewind="on"
                     data-volume="mute"
                     data-videowidth="100%"
                     data-videoheight="100%"
                     data-videomp4="assets/video/slide.mp4"
                     data-videopreload="auto"
                     data-videoloop="loop"
                     data-forceCover="1"
                     data-aspectratio="16:9"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                ></div>
                <div class="tp-caption slide__name slide__name--smaller"
                     data-x="center"
                     data-y="160"

                     data-splitin="chars"
                     data-elementdelay="0.1"

                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"

                     data-frames='[{
                               "delay":1400,
                               "speed":700,
                               "split":"chars",
                               "splitdelay":0.1,
                               "frame":"0",
                               "from":"opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Travel With Spider Man
                </div>
                <div class="tp-caption slide__time"
                     data-x="center"
                     data-hoffset='-115'
                     data-y="242"
                     data-frames='[{
                               "delay":1800,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    From
                </div>
                <div class="tp-caption slide__date position-center postion-place--two lfb ltb"
                     data-x="center"
                     data-hoffset='-50'
                     data-y="242"
                     data-frames='[{
                               "delay":2200,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    April 18
                </div>
                <div class="tp-caption slide__time"
                     data-x="center"
                     data-hoffset='5'
                     data-y="242"
                     data-frames='[{
                               "delay":1800,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    - till
                </div>
                <div class="tp-caption slide__date"
                     data-x="center"
                     data-hoffset='60'
                     data-y="242"
                     data-frames='[{
                               "delay":2200,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    May 21
                </div>

                <div class="tp-caption slider-wrap-btn"
                     data-x="center"
                     data-y="310"
                     data-frames='[{
                               "delay":2800,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">learn more</a>
                </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-transition="fade" class="slide" data-title='Stop wishing. Start doing.'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="assets/images/download/1920x617-Physical-virtual-machines.jpg">
                <div class="tp-caption slide__name slide__name--smaller slide__name--specific"
                     data-x="center"
                     data-y="160"
                     data-frames='[{
                               "delay":1400,
                               "speed":700,
                               "frame":"0",
                               "from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                               "mask":"x:0px;y:[100%];s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Stop wishing Start doing.
                </div>

                <div class="tp-caption slide__descript"
                     data-x="center"
                     data-y="240"
                     data-frames='[{
                               "delay":2000,
                               "speed":500,
                               "frame":"0",
                               "from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                               "mask":"x:0px;y:[100%];s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    find your best match movie with C04.MOVIE
                </div>

                <div class="tp-caption slider-wrap-btn"
                     data-x="center"
                     data-y="310"
                     data-frames='[{
                               "delay":2500,
                               "speed":500,
                               "frame":"0",
                               "from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                               "mask":"x:0px;y:[100%];s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>


        </ul><!-- END SLIDES LIST -->

    </div><!-- END SLIDER CONTAINER -->

</div>

<section class="container">
    <div class="movie-best">
        <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
        <div class="col-sm-12 change--col">


            <div class="movie-beta__item " *ngFor="let movie of movieBestChoice">
                <a [routerLink]="['/movie-detail',movie.id]" >
                    <img alt='' [src]="movie.posterUrl" style="width: 190px; height: 250px">
                </a>

                <span class="best-rate">{{movie.starRating}}</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">{{randomNumberVote+movie.id}} people voted today</span></li>
                    <li>
                        <p class="movie__time">{{movie.duration}}</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a [routerLink]="['/movie-detail',movie.id]" class="slide__link">more</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-sm-10 col-sm-offset-1 movie-best__check" routerLink="/movie-showing">check all movies now playing</div>
    </div>

    <div class="clearfix"></div>

    <h2 id='target' class="page-heading heading--outcontainer">New movies in the cinema</h2>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="movie movie--test movie--test--dark movie--test--left" *ngFor="let movie of movieShowing"
                     style="">
                    <div class="movie__images">
                        <a class="movie-beta__link" [routerLink]="['/movie-detail',movie.id]">
                            <img alt='' [src]="movie.posterUrl" style="width: 170px; height: 250px;">
                        </a>
                    </div>
                    <div class="movie__info" [routerLink]="['/movie-detail',movie.id]">
                        <a class="movie__title">{{movie.name}}</a>

                        <p class="movie__time">{{movie.duration }}</p>

                        <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a
                                href="#">Drama</a></p>

                        <div class="movie__rate">
                            <div class="score">
                                <img alt="1" src="assets/images/rate/star-on.svg" title="bad">
                                <img alt="1" src="assets/images/rate/star-on.svg" title="bad">
                                <img alt="1" src="assets/images/rate/star-on.svg" title="bad">
                                <img alt="1" src="assets/images/rate/star-on.svg" title="bad">
                                <img alt="1" src="assets/images/rate/star-off.svg" title="bad">
                            </div>
                            <span class="movie__rating">4.1</span>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="col-sm-4 col-md-3">
                <div class="sitebar first-banner--left">
                    <div class="banner-wrap first-banner--left">
                        <img alt='banner' src="assets/images/banners/sale.jpg">
                    </div>

                    <div class="banner-wrap">
                        <img alt='banner' src="assets/images/banners/sport.jpg">
                    </div>

                    <div class="promo marginb-sm">
                        <div class="promo__head">C04.Movie app</div>
                        <div class="promo__describe">for all smartphones<br> and tablets</div>
                        <div class="promo__content">
                            <ul>
                                <li class="store-variant"><a href="#"><img alt=''
                                                                           src="assets/images/apple-store.svg"></a></li>
                                <li class="store-variant"><a href="#"><img alt=''
                                                                           src="assets/images/google-play.svg"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------>
    <div class="col-sm-12">
        <h2 class="page-heading">Latest news</h2>

        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="assets/images/client-photo/post-thor.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">22 October 2020 </p>
                <a href="single-page-left.html" class="post__title">"Thor: The Dark World" - World Premiere</a>
                <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
            </div>
        </div>
        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="assets/images/client-photo/post-annual.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">22 October 2020 </p>
                <a href="single-page-left.html" class="post__title">30th Annual Night Of Stars Presented By Fashion</a>
                <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
            </div>
        </div>
        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="assets/images/client-photo/post-awards.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">22 October 2020 </p>
                <a href="single-page-left.html" class="post__title">Hollywood Film Awards 2020</a>
                <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
            </div>
        </div>
    </div>

</section>

<router-outlet></router-outlet>
