<div class="fix-header fix-sidebar card-no-border">
<!--<div class="preloader">-->
<!--  <svg class="circular" viewBox="25 25 50 50">-->
<!--    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>-->
<!--</div>-->
<div id="main-wrapper">
  <header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          Logo icon here
        </a>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-md-0 ">
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item hidden-sm-down" style="display: none">
            <form class="app-search p-l-20" >
              <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav my-lg-0">
          <li class="nav-item dropdown" style="margin-top: -65px">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/admin/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-5" />Markarn Doe</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li>
            <a routerLink="dashboard" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
          </li>
          <li>
            <a routerLink="booking-ticket" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Booking Ticket</a>
          </li>
          <li>
            <a routerLink="movie" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Movie</a>
          </li>
          <li>
            <a routerLink="promotion" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>Promotion</a>
          </li>
          <li>
            <a href="pages-blank.html" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>Customer</a>
          </li>
          <li>
            <a routerLink="theater" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>Theatre</a>
          </li>
          <li>
            <a routerLink="/admin/gallery" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>Gallery</a>
          </li>
          <li>
            <a routerLink="banner" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>Banner</a>
          </li>
          <li>
            <a href="pages-error-404.html" class="waves-effect"><i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>Error 404</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div>
  <footer class="footer text-center">
    © C04 Cinema Admin
  </footer>
  </div>
</div>




