<h3>Tickets Cancel</h3>
<table class="table">
    <thead>
    <tr>
        <td>Movie's Name</td>
        <td>Day Put</td>
        <td>Total Money</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody *ngFor="let ticker of tickerPut">
    <tr *ngIf="ticker.canCel == 1">
        <td>{{ticker.movieName}}</td>
        <td>{{ticker.dayPut}}</td>
        <td>{{ticker.totalMoney}}</td>
        <td>Cancel</td>
    </tr>
    </tbody>
</table>
<div style="text-align: left">
    <a href="#">Next</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3...</a>
    <a href="#">Previous</a>
</div>
