<div class="content" style="height: 71vh">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-10" style="margin-top: 28px; margin-left: 8%">

                <div class="table-title">
                    <br>
                    <div class="row">
                        <div class="col-sm-9" style="max-width: 75%">
                            <div style="margin-left: 380px;">
                                <p style="font-size: 14px; font-weight: bold">Seat Management</p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 30%; display: flex" *ngIf="seats == []">
                        <a style="margin-bottom: 7px;padding: 8px; margin-left: 722px;border-radius: 10px;" href="#addSeat" data-toggle="modal" class="btn btn-md btn--warning btn--book btn-control--home">Add New Seat</a>
                    </div>
                </div>
                <br>
                <div>
                    <table id="movie">

            <tr>A<ng-container *ngFor="let seat of seats,let i = index">
                    <ng-container *ngIf="i <= 10">
                        <td><button class="btn btn-primary" (click)="editSeat(seat)" data-toggle="modal" data-target="#editSeat">{{seat.name}}</button></td>
                    </ng-container>
            </ng-container></tr>

            <tr>B<ng-container *ngFor="let seat of seats,let i = index">
                    <ng-container *ngIf="i <= 20 && i > 10">
                        <td><button class="btn btn-primary" (click)="editSeat(seat)" data-toggle="modal" data-target="#editSeat">{{seat.name}}</button></td>
                    </ng-container>
            </ng-container></tr>

            <tr>C<ng-container *ngFor="let seat of seats,let i = index">
                    <ng-container *ngIf="i <= 30 && i > 20">
                        <td><button class="btn btn-primary" (click)="editSeat(seat)" data-toggle="modal" data-target="#editSeat">{{seat.name}}</button></td>
                    </ng-container>
            </ng-container></tr>

            <tr>D<ng-container *ngFor="let seat of seats,let i = index">
                    <ng-container *ngIf="i <= 40 && i > 30">
                        <td><button class="btn btn-primary" (click)="editSeat(seat)" data-toggle="modal" data-target="#editSeat">{{seat.name}}</button></td>
                    </ng-container>
            </ng-container></tr>

            <tr>E<ng-container *ngFor="let seat of seats,let i = index">
                    <ng-container *ngIf="i <= 50 && i > 40">
                        <td><button class="btn btn-primary" (click)="editSeat(seat)" data-toggle="modal" data-target="#editSeat">{{seat.name}}</button></td>
                    </ng-container>
            </ng-container></tr>

        </table>
                </div>
            </div>
        </div>
    </div>
    <!--ADD SEAT-->

    <div class="modal fade" id="addSeat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Seat List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameHall">Seat Number: </label>
                            <input type="number"
                                   class="form-control" id="nameHall" placeholder="Enter Seat Number" [ngModel]="seatNumber" >
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" data-dismiss="modal" value="Add" (click)="addSeatToHall()">
                    </div>
            </div>
        </div>
    </div>


<!--    END ADD SEAT-->
    <!--EDIT SEAT-->
    <div id="editSeat" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <h4 class="modal-title">Edit Seat</h4>
                </div>
                <form [formGroup]="editFormSeat">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="idEdit">Id</label>>
                            <input type="text"
                                   formControlName="id"
                                   class="form-control" id="idEdit" readonly>
                        </div>
                    <div class="form-group">
                         <label for="nameSeatEdit">Seat Name: </label>
                         <input type="text"
                                formControlName="name"
                                class="form-control" id="nameSeatEdit" placeholder="Enter Name Seat" >
                     </div>

                        <div class="form-group">
                            <label for="seatTypeEdit">Seat Type: </label>
                            <select formControlName="seatTypeId" id="seatTypeEdit">
                                <option  style="margin-left: 10px" *ngFor="let type of seatType" value="{{type.id}}">{{type.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="hallIdEdit">Hall Id</label>
                            <input type="text"
                                   formControlName="hallId"
                                   class="form-control" id="hallIdEdit" readonly>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" data-dismiss="modal" value="Add" (click)="editSeatConfirm()">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--END EDIT HALL-->

</div>
