
<div  style="margin-top: 140px">
<div class="page-title category-title" style="margin-bottom: 50px; margin-left: 50px">
    <h2 class="page-heading">Promotion</h2>
</div>
<div class="category-products cgv-voucher-cate " >

        <div class="row">
            <div class="col-4" *ngFor="let item of datas|paginate: { itemsPerPage: 6, currentPage: p }" style="margin-bottom: 60px">
                <li class="film-lists item last"  style="margin-left: 30px;list-style: none">
                    <div class="product-info" style="min-height: 77px;">
                        <h2 style="font-size: 22px; color: blue " class="product-name">{{item.name}}</h2>
                        <span class="price"><span style="font-weight: bold">Price :</span> {{item.price}}</span>
                        <button  type="button" title="Buy" class="btn bg-warning" style="margin-left: 180px" (click)="buyPromotion(item)" *ngIf="accountID!= 0; else block ">
                            <span><span>Buy</span></span>
                        </button>
                        <ng-template #block>
                            <button  type="button" title="Mua" class="btn bg-warning" style="margin-left: 180px" routerLink="/login">
                                <span><span>Buy</span></span>
                            </button>
                        </ng-template>
                        <div class="short-descriptions" style="font-size: 15px">
                            <div class="std"><span style="font-weight: bold">Discount :</span> {{item.discount}}</div>
                            <div class="std"><span style="font-weight: bold">Start Day :</span> {{item.startDate}}  | <span style="font-weight: bold">End Day :</span>   {{item.endDate}}</div>
                            <div class="std"><span style="font-weight: bold">Description :</span> {{item.description}}</div>
                        </div>
                    </div>

                    <a href="https://www.cgv.vn/default/2d-all-days-online-vn.html" title="2D_Voucher" class="product-image">
                        <img id="product-collection-image-257" style="width: 400px;" src="{{item.picture}}" alt="2D_Voucher">
                    </a>
                </li>
            </div>

        </div>
    <div class="justify-content-center" style="font-size: large;margin-left: 600px ">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
</div>

<div id="login1" class="overlay overlay-hugeinc open" *ngIf="check == true">
    <section class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <form id="login-form" class="login" style="padding-top: 0">
                <div class="header-form">
                    <button type="button" class="overlay-close" (click)="load()">Close</button>
                    <p class="login__title">Promotion Code <br><span class="login-edition">welcome to C04.Movie</span></p>
                </div>
                <div style="text-align: center" *ngIf="proCode; else code">
                    <p>Your promotion code: </p>
                    <p style="font-size: 20px">{{proCode}} </p>
                </div>
                <ng-template #code>
                    <div style="text-align: center" >
                        <p> You are not enough point, Donate blood pls! </p>

                    </div>
                </ng-template>

            </form>
        </div>
    </section>
</div>
