<h3>History Point</h3>

<form [formGroup]="pointForm">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Star Date <span style="color: red">(*)</span> :</label>
        <div class="col-sm-8">
            <input type="date" class="form-control" formControlName="contractStarDate" (change)="compareTwoDates()"
                   [(ngModel)]="star">
            <div class="error1"
                 *ngIf="pointForm.get('contractStarDate').touched && pointForm.get('contractStarDate').invalid">Invalid
                <p class="error1" *ngIf="pointForm.get('contractStarDate').hasError('required')"> must Required</p>
                <p class="error1" *ngIf="pointForm.get('contractStarDate').hasError('pattern')"> must format
                    (yyyy-mm-dd)</p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">End Date <span style="color: red">(*)</span> : </label>
        <div class="col-sm-8">
            <input type="date" class="form-control" formControlName="contractEndDate"
                   (change)="compareTwoDates()"
                   [(ngModel)]="end">
            <div class="error1"
                 *ngIf="pointForm.get('contractEndDate').touched && pointForm.get('contractEndDate').invalid">
                Invalid
                <p class="error1" *ngIf="pointForm.get('contractEndDate').hasError('required')"> must Required</p>
                <p class="error1" *ngIf="pointForm.get('contractStarDate').hasError('pattern')"> must format (yyyy-mm-dd)</p>
            </div>
        </div>
        <p class="error1" *ngIf="error">day end > day star</p>
    </div>
    <div class="form-group row">
        <div class="col-sm-7">
            <input type="radio" id="History Plus Point" name="gender"  formControlName="gender" (change)="changeGender($event)" value="true">
            <label for="History Plus Point">History Plus Point</label>
        </div>
        <div class="col-sm-7">
            <input type="radio" id="History Use Points" name="gender" formControlName="gender" (change)="changeGender($event)" value="false">
            <label for="History Use Points">History Use Points</label>
        </div>
    </div>
    <button type='submit' class="btn btn-md btn--warning btn--wider" [disabled]="pointForm.invalid || error"
            (click)="searchPoint()">View Point
    </button>

</form>


<hr>
<table class="table">
    <thead>
    <tr>
        <td>Day Create</td>
        <td>Source</td>
        <td>Point</td>
    </tr>
    </thead>
    <tbody *ngFor="let point of pointS">
    <tr>
        <td>{{point.dayPut}}</td>
        <td>{{point.movieName}}</td>
        <td>{{point.point}}</td>
    </tr>
    </tbody>
</table>
<div style="text-align: left">
    <a href="#">Next</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3...</a>
    <a href="#">Previous</a>
</div>
