.container{
    margin-top: 80px;
}
.p-name-film{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.p-startDate{
    margin-top: -15px
}
.item-button-getTicket{
    margin-top: -10px
}
.poster-img{
    width: 80%;border: 2px solid black; height: 280px;
}
.title-search{
    color: black; font-size: 24px; margin-top: 7px
}
.input-search-date{
    font-size: 17px;
    width: 300px;
}
.div-title-movie-show{
    margin-top: -20px
}
.h4-not-found{
    margin: 40px 0px 0px 400px
}
.input-search-name{
    font-size: 21px;
    margin-left: 50px;
    opacity: 60%;
}
.input-search-name::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 3;
}
