<div class="container">
    <h2 class="page-heading">Movies coming soon</h2>
    <div class="row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12  mt-4" *ngFor="let filmShowing of movies">
            <a [routerLink]="['/movie-detail',filmShowing.id]">
                <img [src]="filmShowing.posterUrl" style="width: 80%;border: 3px solid black; height: 280px;">
            </a>
            <p style="overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;">
                <strong style="color: #2f2721;" maxlength="20"
                        [routerLink]="['/movie-detail',filmShowing.id]"ng>{{filmShowing.name.toUpperCase()}}</strong></p>
            <p><strong>Status: </strong>{{filmShowing.actor}}</p>
            <p style="margin-top: -15px"><strong>Date start: </strong>{{filmShowing.startDate}}</p>
            <div class="row">
                <div class="col-12" style="margin-top: -10px">
                    <button class="btn btn-outline-secondary" [routerLink]="['/movie-detail',filmShowing.id]">Detail
                    </button>
                    <button class="ml-2 btn btn-warning" hidden>Get Ticket</button>
                </div>
            </div>
        </div>
        <ng-template *ngIf="movies.length==0">
            <h1 style="margin-top: 100px"> Not found movies !</h1>
        </ng-template>
    </div>
</div>

