<div class="container">
    <!-- Movie preview item -->
    <div class="movie movie--preview release">
        <div class="col-sm-5 col-md-3">
            <div class="movie__images">
                <img alt='' [src]="movie.posterUrl" class="img-poster">
            </div>
        </div>
        <div class="col-sm-7 col-md-9">
            <a style="color: blue; font-size: 27px; font-weight: bold"
               class="movie__title link--huge">{{movie.name}}</a>

            <p class="movie__time">{{movie.duration}} min</p>

            <p class="movie__option"><strong>Director: </strong><a>{{movie.director}}</a></p>
            <p class="movie__option"><strong>Actor: </strong><a>{{movie.actor}}</a></p>
            <p class="movie__option"><strong>Start date : </strong>{{movie.startDate}}</p>
            <p class="movie__option"><strong>Entertainment : </strong><a>{{movie.entertainment}}</a></p>
            <p class="movie__option"><strong>Actors: </strong><a>{{movie.actor}}</a></p>
            <p class="movie__option"><strong>Age restriction: </strong><a>{{movie.movieRatedAgeId}}</a></p>

            <div class="movie__btns">
                <a [routerLink]="['/booking',movie.id]" class="btn btn-md btn--warning" *ngIf="checkHideButton===false">book
                    a ticket <span class="hidden-sm">for this movie</span></a>
                <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal"
                   class="watchlist">Watch trailer</a>
            </div>

            <div class="preview-footer">
                <div class="movie__rate">
                    <div class="score"></div>
                    <span class="movie__rate-number">{{votes}} votes</span>
                    <span class="movie__rating">{{movie.starRating}}</span>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>


    </div>
    <div class="col-sm-12" style="font-size: 15px">
        <h2 class="page-heading">Description </h2>
        {{movie.description}}
    </div>

    <div class="col-sm-12">
        <h2 class="page-heading">comments ({{sumComment}})</h2>
        <div class="comment-wrapper">
            <form id="comment-form" class="comment-form">
                <textarea class="comment-form__text" placeholder='Add you comment here' (keyup)='getCom($event.target.value)'></textarea>
                <label class="comment-form__info">450 characters left</label>
                <button (click)="addCom()" class="btn btn-md btn--danger comment-form__btn" *ngIf="cusId; else block">add comment</button>
                <ng-template #block>
                    <button routerLink="/login" class="btn btn-md btn--danger comment-form__btn" >add comment</button>
                </ng-template>
              
            </form>

            <div class="comment-sets">

                <div *ngFor='let c of listComment' class="comment">
                    <div class="comment__images">
                        <img alt='' [src]="c.customerImgUrl" style="width: 50px; height: 50px;">
                    </div>

                    <a href='#' class="comment__author" style="padding-left: 0;">{{c.customerName}}</a>
                    <p class="comment__date">{{c.time}}</p>
                    <p class="comment__message">{{c.comment}}</p>
                    <a href='#' (click)="freply($event, c.id, c.customerId)" id="{{c.id + 'a'}}" class="comment__reply">Reply</a>


                    <div *ngFor="let s of c.reply" class="comment comment--answer">
                        <div class="comment__images">
                            <img alt='' [src]="s.customerImgUrl" style="width: 50px; height: 50px;">
                        </div>
    
                        <a href='#' class="comment__author" style="padding-left: 0;">{{s.customerName}}</a>
                        <p class="comment__date">{{s.time}}</p>
                        <p class="comment__message">{{s.comment}}</p>
                    </div>


                </div>

            </div>
        </div>
</div>
</div>

<!-- Modal iframe youtube -->
<div>
    <div class="modal fade" id="exampleModal" style="position: absolute; margin: 130px 60px 0px -20px;">
        <div class="modal-dialog">
            <iframe width="700" height="450" style="border: 3px solid lavenderblush" [src]="videoUrl"></iframe>
        </div>
    </div>
</div>


<!-- end movie preview item -->
<!-- JavaScript-->
<!-- jQuery 3.1.1-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/external/jquery-3.1.1.min.js"><\/script>')</script>
<!-- Migrate -->
<script src="assets/js/external/jquery-migrate-1.2.1.min.js"></script>
<!-- jQuery UI -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- Bootstrap 3-->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

<!-- Mobile menu -->
<script src="assets/js/jquery.mobile.menu.js"></script>
<!-- Select -->
<script src="assets/js/external/jquery.selectbox-0.2.min.js"></script>

<!-- Stars rate -->
<script src="assets/js/external/jquery.raty.js"></script>

<!-- Form element -->
<script src="assets/js/external/form-element.js"></script>
<!-- Form validation -->
<script src="assets/js/form.js"></script>

<!-- Custom -->
<script src="assets/js/custom.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        init_MovieList();
    });
</script>

