<!-- open/close -->
<div id="login1" class="overlay overlay-hugeinc ">

    <section class="container">

        <div class="col-sm-4 col-sm-offset-4">

            <form id="login-form" class="login" [formGroup]="formLogin" style="padding-top: 0">
                <div class="header-form">
                    <button type="button" class="overlay-close">Close</button>
                    <p class="login__title">sign in <br><span class="login-edition">welcome to C04.Movie</span></p>
                </div>

                <div class="social social--colored">
                    <a href='#' class="social__variant fa fa-facebook"></a>
                    <a href='#' class="social__variant fa fa-twitter"></a>
                    <a href='#' class="social__variant fa fa-google"></a>
                </div>
                <div class="field-wrap">
                    <div class="inputWithIcon">
                        <input type='text' placeholder='Account' formControlName="username" class="login__input">
                        <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-user m-r-10"></i>
                    </div>
                    <div class="inputWithIcon">
                        <input type='password' placeholder='Password' formControlName="password" class="login__input">
                        <i _ngcontent-vlu-c29="" aria-hidden="true" class="fa fa-key m-r-10"></i>
                    </div>
                    <input type='checkbox' id='#informed' class='login__check styled'>
                    <label for='#informed' class='login__check-info'>remember me</label>
                </div>

                <div class="login__control">
                    <button  type='submit' class="btn btn-md btn--warning btn--wider signin" (click)="login()">sign in</button>
                    <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                </div>
            </form>
        </div>
    </section>
</div>
