<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div *ngIf="customer" class="container">
    <div class="row">
        <div class="col-lg-4" style="text-align: center">
            <div class="container1">
            <img [src]="customer.imageUrl"  height="auto" width="300" alt="Avatar" class="image" />
                <div class="overlay" (click)="fileUploader.click()" >Change Avatar</div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <br><br>
                        <input style="display: none" required type="file" class="form-control-file" #fileUploader accept="image/*" (change)="showPreview($event)">
                    </div>
                </div>
                    <ng-template #customLoadingTemplate></ng-template>
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
            </div>
            <div *ngIf="checkImage">
                <button class="btn btn-md btn--warning btn--wider" (click)="addNewImage()" style="width: 100%">Change Avatar</button>
            </div>
            <p style="font-size: 20px; font-weight: bold">{{customer.name}}</p>
            <p>Cumulative Points : {{point}} </p>
            <button type='submit' class="btn btn-md btn--warning btn--wider" (click)="logout()" style="width: 100%"><a>Log Out</a></button>

            <hr>
            <div class="m-1"><a [routerLink]="['information',customer.id]" (click)="checkShow()"> Account
                Information</a></div>
            <hr>
            <div class="m-3"><a [routerLink]="['history-point',customer.id]" (click)="checkShow()"> History </a></div>
            <hr>
            <div class="m-4"><a [routerLink]="['ticker-put',customer.accountId]" (click)="checkShow()"> Tickets
                Booked </a></div>
            <hr>
            <div class="m-4"><a [routerLink]="['ticker-cancel',customer.accountId]" (click)="checkShow()"> Tickets
                Cancel </a></div>
        </div>
        <div class="col-lg-8" style="text-align: left">
            <router-outlet></router-outlet>

            <div *ngIf="check">
                <h3>User information</h3>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Member Card :</label>
                    <div class="col-sm-9">
                        <label>{{customer.code}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Full Name  :</label>
                    <div class="col-sm-9">
                        <label>{{customer.name}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Birth Day  :</label>
                    <div class="col-sm-9">
                        <label>{{customer.birthday}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Gender :</label>
                    <div class="col-sm-8">
                        <div class="form-group row">
                            <label style="margin-left: 15px">{{customer.gender}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email :</label>
                    <div class="col-sm-9">
                        <label>{{customer.email}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Credit Card  :</label>
                    <div class="col-sm-9">
                        <label>{{customer.cardid}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Phone  :</label>
                    <div class="col-sm-9">
                        <label>{{customer.phone}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address  :</label>
                    <div class="col-sm-9">
                        <label>{{customer.address}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div id="login1" class="overlay overlay-hugeinc open" *ngIf="this.checkEditImage == true">
    <section class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <form id="login-form" class="login" style="padding-top: 0">
                <div class="header-form">
                    <button type="button" class="overlay-close" (click)="reloadPage()">Close</button>
                    <p class="login__title">Information Code <br><span class="login-edition">welcome to C04.Movie</span></p>
                </div>
                <div>
                    <h5 style="margin: 10px 10px; text-align: center">Please input all information before edit Avatar !</h5>
                </div>
            </form>
        </div>
    </section>
</div>
